body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color span{
    color: orange;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 10%;
    padding-top: 0%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.experience{
    width: 40%;
    padding-left: 40px;
    padding-right: 25px;
    box-shadow: 10px 10px 25px gray;
    margin-right: 10%;
    border-radius: 10px;
}
    #baby-web{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan);
        border-image-slice: 1;
    }
    #full-dev{
        border-left: 7px solid;
        border-image: linear-gradient(orange, red);
        border-image-slice: 1;
    }

.experience p{
    text-align: justify;
}
.experience-area{
    padding-left: 5%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h2{
    font-size: 40px;
}
footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: lowercase;
}

